body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0 21%;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #e67e22;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #333;
}


.navbar {
	background-color: white;
	top: 0;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0;
}

.navbar-logo {
	margin-top: 3px;
	width: 80px !important;
	height: 60px !important;
	left: 19%;
}

.navbar-login {
	width: 30px !important;
	height: 30px !important;
	right: 19%;
}

.login-btn a {
	display: inline-block;
	padding: 10px;
	background-color: black;
	color: black;
	text-decoration: none;
	border-radius: 5px;
}

/* Stili per l'icona */
.login-btn i {
	font-size: 15px;
	width: 30px;
	height: 15px;
	color: black;
	/* Utilizza la trasformazione per ingrandire l'icona */
	transform: scale(1.5);
	display: inline-block;
}

.navbar-links {
	display: flex;
	color: black;
}

.navbar-links a {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
	color: black;
}

.navbar-search {
	display: flex;
	align-items: center;
}

.navbar-search input[type="text"] {
	padding: 5px;
	border-radius: 4px;
	border: none;
}

.navbar-login {
	color: #fff;
	color: black;
	right: 19%;
}

.search-box {
	display: flex;
	justify-content: center;
	background-color: #F5D295ff;
	padding: 1%;
	border-radius: 32px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-box input {
	border: 0;
	background-color: #F5D295ff;
	font-size: 16px;
	width: 0;
	outline: none;
	transition: 0.8s;
}

.search-box:hover input {
	width: 200px;
}

.search-box button {
	padding: 7px;
	border: 0;
	background-color: white;
	color: black;
	font-size: 14px;
	border-radius: 50%;
	cursor: pointer;
}

.user-icon {
	color: black;
}


/* Stile del dropdown */
.user-account {
	position: relative;
	display: inline-block;
}

.login-btn {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.login-btn i {
	font-size: 18px;
	margin-right: 5px;
}

/* CSS per il dropdown */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

/* Stili per .user-account */
.user-account a {
	display: flex;
	background-color: #F5D295ff;
	color: black;
	text-decoration: none;
	border-radius: 10px;
}

.user-account {
	background-color: #F5D295ff;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 10px;
	/* Per posizionare correttamente il dropdown rispetto a questo elemento */
}

.login-btn {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.login-btn i {
	font-size: 18px;
	margin-right: 5px;
}

/* Rimani con il colore bianco quando l'utente passa sopra il link */
.login-btn:hover {
	background-color: orange;
}

#userDropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

#userDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#userDropdown a:hover {
    background-color: orange;
}

/* Classe "show" per mostrare il dropdown */
#userDropdown.show {
    display: block;
}